.bg {
 max-width: 100%;
 background: url("https://lh3.googleusercontent.com/Pw88D4tEgJzHJehJjXtCyZys4-jYE8EPimItpNg11KA8r6rHbZzkE9-8nH7KzC4umQQmEULb-scgWqNUFX4ddfaxh39Grm4Sl3hXD4cEsgQtE_4k7V7IfYPZD-1PygRfaCPdfuJ1McXfaJ8igy8Wgp7MpZyhiCQ3H15H6u_Pm2Cw0fbbaMvolvPGPMTlTdq1v9q3-VjXq8AaAKMP8qY8f6zC7JJhZnD1xj2h_jUkGoftk6JUEWaCEKS_IQ_4WnDY8TV0x10DfH5I9ZrSndMRRoQYofBQKGSvzhKs44Gl8KiO3zh01VhVQf8TBzOkkf_fGgHYOsWY103_tnCy9_stDJdeu-8Nlseu0wHo1w9oVkvGyHNCNT-v-alBIJ7KOUGEWVdrZOLK4dQkqSVuWVGcQnFw1KHzEt9cuHWb9jvRA5canN8dKHFcDb-LLGUT6Kv7eiMXASs8xmzkNoBPxfFkbmMM-ZJ50FhH55709jOCYEAjd7Cnvtmi_OqC35-CTc3TaUX4Uc4vslMblaKgxV1khKd-rkTpFB2axU66TJeXo1YJ6SHPmnb7jV7GZPRrUTTgq1_3Lms0yRBrmcEWj7z5jw8PkazJWr6WyHY-SYDW9wZ9OK8YXnGpLZf2e_9KaMyMWmcpWCAB1SCfDpvXK7uNarSrOLj3ax1jcDEcPx_MaN5UPgZUy3p0b-YTalbeTcc=w1866-h1398-no?authuser=0") no-repeat;
}

myimg.map, map area{
    outline: none;
}
